<h1>Your Created Events</h1>

<div id="events">
  <% @events = current_user.events %>
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<div id="home">
  <%= link_to "HOME", root_path %>
</div>